/* * {
  border: 1px solid white;
} */
.test {
  border: 2px solid;
}
.img-profile {
  width: 30px;
  border-radius: 50%;
}
.custom-navbar {
  position: fixed;
  padding: 0 85px;
  height: 60px;
  width: 100%;
}

.logo {
  width: 100px;
}

.navbar-content{
  display: flex;
  justify-content: flex-end;
  width: 400px
}
.menu-nav {
  display: flex;
  justify-content: flex-end;
}

.menu-list {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 30px
}

.menu-list a {
  color: white;
  font-size: 13px;
}

.menu-list a:hover{
  color: navy;
  text-decoration: none;
}

.profile-menu {
  display: flex;
  align-items: center;
}
main {
  height: 150vh;
  background: linear-gradient(to bottom right, #bc72af, #8BB3E6);
}
.main-container {
  padding: 0 85px;
  height: 150vh;
  padding-top: 108px;
  display: flex;
  background-image: linear-gradient(transparent, #000);
}

.texto {
  width: 290px;
  color: white;
  padding-top: 15px;
}

.custom-small {
  font-size: 10px;
}

.description {
  font-weight: 800;
}

.title {
  font-weight: 700;
  font-size: 60px;
}

.imagenes {
  height: 390px;
  width: 560px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cover {
  width: 178px;
  height: 178px;
}

.button {
  height: 60px;
  width: 285px;
  border-radius: 40px;
  background: #1DB954;
  border: none;
}